<?xml version="1.0"?>
<config><app><key>EDFAB5821CE4F70C3AFBCBDDB61D01FF</key><name>Tiempo y asistencia</name><company>Anita Salchichoneria</company><timezone>America/Chicago</timezone></app><front><url>https://checador.salchichonerias-anita.com/</url></front><bases><default><type>mysql</type><host>localhost</host><user>anita.checador</user><dbname>anita.checador</dbname><password>mXkZbzviTMxbC9MKurIlb9lNmuptujU3chN5mHah1tQ=</password></default></bases><sesion><type>DEFAULT</type><name>trex</name><ssl>0</ssl><inactivity>300</inactivity></sesion><dev><showerrors>1</showerrors></dev></config>
